#skills{
    overflow: hidden;
    width:100vw ;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.skillDesc{
    font-weight: 400;
    font-size: 1 rem;
    max-width: 51rem;
    padding: 0 2rem;
}
.skillsBar{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;

}
.skillsBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);


}
.skillsBarImg{

    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}
.skillsBarText{
    font-size: 0.9rem;
    font-weight: 0.9rem;
}
@media  screen and (max-width:720px) {
    .skillsBarText>p{
        font-size: 2vw;
    }
    
}
@media  screen and (max-width:480px) {
    .skillsBarText>p{
        font-size: 3vw;
    }
    .skillsBarImg{
        height: 2.25rem;
        width: 2.25rem;

    }
    .skillsBarText>h2{
        font-size: 5vw;
    }
    
}